.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: var(--color-secondary-accent) #0000;
  animation: spin 1s infinite;
}

@keyframes spin {
  to {
    transform: rotate(.5turn)
  }
}
